<h1>{{ context.title}} </h1>

<div>
    {{ context.contents }}
</div>

<!-- 댓글을 뿌려주기 위해 추가한 부분 -->
<h5>{{ context.answer_set|length }}개의 댓글이 있습니다.</h5>
<div>
    <ul>
        {% for answer in context.answer_set %}
            <li>{{ answer.contents}}</li>
        {% endfor %}
    </ul>
</div>

<!-- 댓글 입력을 위해 추가한 부분 -->
<form action="{{ url_for('answer.create', question_id=context.id) }}" method="post">
    <textarea name="contents" id="contents" cols="30" rows="10"></textarea>
    <input type="submit" value="댓글 등록">
</form>