<!-- form 지원 기능 활용 -->
<!-- <div>
    <h5>질문 등록</h5>
    <form action="{{ url_for('question.create') }}" method="post">
        {{ form.csrf_token }}
        {{ form.title.label()}}
        <br>
        {{ form.title()}}
        <br>
        {{ form.contents.label }}
        <br>
        {{ form.contents() }}
        <br>
        <button type="submit">저장하기</button>
    </form>
</div> -->

<!-- 수기로 만든 form -->
<div>
    <h5>질문 등록</h5>
    <form action="{{ url_for('question.create') }}" method="post">
        <div>
            <label for="title">제목</label>
            <input type="text" name="title" id="title" size="30">
        </div>
        
        <div>
            <label for="contents">내용</label>
            <textarea name="contents" id="contents" cols="30" rows="10"></textarea>
        </div>
    
        <button type="submit">저장하기</button>
    </form>
</div>
